.modal{
    padding:20px;
    position: absolute;
    top: 10%;
    left: 40%;
    max-width: 30%;
    border: 1px solid lightblue;
    border-radius:20px;

    .form{
        display: grid;
        gap:5px;
        
        input,button{
            border: 1px solid lightblue;
            border-radius: 10px;
            padding: 0px 10px;
            outline: none;
        }
       
        button {
            margin-top: 15px;
        }

        input:focus{
            outline: 1px solid rgb(50, 155, 50);            
        }

        button:hover{
            background-color: lightblue;
        }
    }
}

.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: #bd4949; */
}

