*, *::before, *::after {
    box-sizing: border-box; /*1. Use a more-intuitive box-sizing model.*/
}

* {
    margin: 0; /* 2. Remove default margin */
}

img, picture, video, canvas, svg { /* 5. Improve media defaults */
    display: block;
    max-width: 100%;
}

input, button, textarea, select { /* 6. Remove built-in form typography styles */
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 { /*7. Avoid text overflows */
    overflow-wrap: break-word;
}

#root, #__next { /* 8. Create a root stacking context */
    isolation: isolate;
}

body {
    line-height: 1.5; /* Typographic tweaks! 3. Add accessible line-height  4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template: 92vh 8vh/1fr;

    #main{
        display: grid;
        grid-template-columns:25% 74.8%;
        overflow: auto;
    }

    footer{
        box-shadow: 0 0 5px lightgray;
    }
}

/* div{
    border: 1px solid red;
} */