#projects{
    display: flex;
    flex-direction: column;
    gap:30px;
    overflow: auto;
    padding: 20% 10%;
    box-shadow: 0 0 5px rgb(172, 172, 172);
    

    #addProjects{
        display: flex;
        gap: 20px;
        align-items: center;
        /* border: 1px solid gray; */
        border-radius: 10px;
        padding: 5px 10px;
        box-shadow: 0 0 5px rgb(172, 172, 172);

        button{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            box-shadow: 0 0 10px rgb(161, 161, 161);
            background-color: lightblue;
        }

        button:hover{
            background-color: rgb(218, 74, 74);
        }
    }

    .projectsContainer{
        display: grid;
        gap: 30px;
        

        .projectDiv{
            box-shadow: 0 0 5px rgb(161, 161, 161);
            border-radius: 10px;
            padding: 10px;

            > div > div{
                background-color:rgb(202, 205, 206);
                border: 0.5px solid lightblue;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 3px rgb(199, 241, 255);
            }
            
            .projectBar{
                display: grid;
                grid-template: 0fr/1fr;
                gap: 5px;
                margin-bottom: 10px;

                .projectTitle{
                    grid-column:1/-1;
                    justify-content: flex-start;
                    cursor: pointer;
                    user-select: none;
                }
            }

            .projectContentWrapper{
                display: none;
                min-width: 100%;

                > div{
                    background-color: transparent;
                    border: none;
                    display: grid;
                    grid-template:0fr/100%;
                    padding: 0px;
                    gap:5px;
                    box-shadow: none;


                    > div{
                        min-width: 100%;
                        box-shadow: 0 0 3px rgb(199, 241, 255);
                        border: 1px solid lightblue;
                        border-radius: 10px;
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;   
                        background-color: rgb(202, 205, 206);                 
                    }

                    .openProject{    
                        button {
                            border-radius: 10px;
                            border: none;
                            max-height: 30px;
                            width: 100%;
                            text-align: center;
                            font-size: 0.9rem;
                            font-weight: 800;
                        }

                        button:hover{
                            background-color: lightblue;
                        }
                        
                    }
                }
            }
        }

        .projectDiv-Open .projectContentWrapper{
            display: grid;
            transition: display 1s ease-out;
            min-width: 100%;
        }
    }


}
